* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paraFont, sans-serif);
    
}

:root {
    --colorPrimary: #ff7f46;
    --bgColor:#ebf7f7;
    --colorBlue: #4582ff;
    --colorGreen: #00d6d3;
    --colorBlack: #424346;
    --paraColor: #636363;
    --ratingColor: #f1cc38;
    --colorWhite: #fff;
    --paraFont: "Rubik", sans-serif;
    --headingFont: "Montserrat", sans-serif;
    --box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
}
/* defining the global value section container p heading etc */



html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* navbar styling */
.navbar {
    width: 100%;
    background-color: #ffff;
    padding: 15px;
    position: fixed;
    z-index: 999;
    overflow: hidden;
}
  
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.logo {
    margin-left: -30px;
}
  
.nav-list {
    display: flex;
    list-style: none;
}
  
.nav-list li {
    margin-right: 30px;
}
  
.nav-list li .tcolor {
    color: #000;
    font-size: 1.2rem;
    font-weight: 550;
    text-decoration: none;
    transition: all 0.3s ease;
}
  
.nav-list li .tcolor:hover {
    color: var(--colorPrimary);
} 

.highlight {
    color: #fff;
    font-size: 1rem;
    background-color: var(--colorPrimary);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 0.5s ease-in-out;
    margin-left: 20px;
}

.highlight:hover {
    color: #000;
    background-color: #C58966;
}
  
/* hamburger styling */
.hamburger {
    display: none;
    cursor: pointer;
}
  
.mobile-navbar-icon {
    width: 40px;
    height: 40px;
}
  
.mobile-navbar-icon[name="close-outline"] {
    display: none;
}


/* home section start */
.home-section {
    width: 100%;
    height: 100vh;
    background-color: #ECF6F6;
    overflow:hidden
  }
  
.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}
/* adding the image before home-container */
.home_container_overplap_img_1 {
    content: "";
    position: relative;
    top: 200px;
    left: 0;
    width: 140px;
    height: 80px;
    z-index: 1;
    opacity: 0.5;
    animation: moveupdown 2s infinite;
}
 .home_container_overplap_img_2{
    content: "";
    position: relative;
    right: -80vw;
    top: 160px;
    width: 100px;
    height: 100px;
    z-index: 1;
    opacity: 0.6;
    animation: scaleInOut 4s infinite;
 }
@keyframes moveupdown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-13px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scaleInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
    
}
  
.home-container .content {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding-left: 100px;
}
  
.home-container .content h5 {
    font-size: 20px;
    color: #28b3eb;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
}
  
.home-container .content h2 {
    font-size: 3.4rem;
    color: var(--colorBlack);
    margin-bottom: 2px;
    font-weight: 600;
    text-transform: capitalize;
}

.home-container .content h2 span {
    color: var(--colorPrimary);
}

.home-container .content .para {
    color: var(--paraColor);
    font-size: 1rem;
    text-transform: none;
}
  
  
.home-container .image {
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 0;
}
  
.home-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* responsiveness */
@media (max-width: 992px) {
    /* hamburger styling and navbar styling */
    .hamburger {
        display: block;
        border: none;
        background-color: #15223848;
        line-height: 3px;
        border-radius: 5px;
    }

    .nav-list {
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #ECF6F6;
        transition: all 0.5s ease;
        z-index: 999;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fffffff3;
    }
    
    .nav-list li{
        margin-bottom: 30px;
    }

    .nav-list li a {
        font-size: 2.6rem;
    }
     
    .nav-list .highlight{
        font-size: 15px;
        padding: 10px 20px;
    }

    /* home section start */
    .home-container {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }
  
    .home-container .content {
        width: 100%;
        height: 30%;
    }
  
    .home-container .image {
        width: 100%;
        height: 70%;
    }
  
    .home_container_overplap_img_1q{
        display: none;
    }
    .home_container_overplap_img_2{
        display: none;
    }

}

@media (max-width: 668px) {
    

    /* home section start */  
    .home-section {
        padding: 0;
         height: auto;
    }
  
    .home-container .content {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 20px;
    }

  
    .home-container .content h2 {
    font-size: 4rem;
    margin-bottom: 40px;
    font-weight: 600;
    }

    .home-container .content .para {
    font-size: 1.5rem;
    padding-right: 20px;
    }
  
    .home-container .image {
        display: none;
    }
}